/* adapted from https://codepen.io/notouchz33/pen/BayLyow */
[hover-tooltip] {
  position: relative;
  cursor: default;
}
[hover-tooltip]:hover::before {
  content: attr(hover-tooltip);
  font-size: 14px;
  position: absolute;
  display: block;
  left: 50%;
  min-width: 250px;
  max-width: 80vw;
  max-height: 50vh;
  overflow: auto;
  white-space: pre;
  bottom: calc(100% + 10px);
  transform: translate(-50%);
  animation: fade-in 300ms ease;
  background: #272727;
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  z-index: 1;
}
[hover-tooltip]:hover::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  width: 0;
  height: 0;
  bottom: calc(100% + 6px);
  margin-left: -3px;
  border: 1px solid black;
  border-color: #272727 transparent transparent transparent;
  border-width: 4px 6px 0;
  animation: fade-in 300ms ease;
  z-index: 1;
}
[hover-tooltip][tooltip-position='bottom']:hover::before {
  bottom: auto;
  top: calc(100% + 10px);
}
[hover-tooltip][tooltip-position='bottom']:hover::after {
  bottom: auto;
  top: calc(100% + 6px);
  border-color: transparent transparent #272727;
  border-width: 0 6px 4px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
